
.body {
    background-color: #2f3b55;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.content {
    width: 700px;
    height: 700px;
    text-align: center;
    background-color:#588dff;
    font-family: Arial, sans-serif;
    padding: 50px;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #588dff;
    align-items: center;
    align-content: auto;
}
    #peso{
        width: 200px;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ffffff;
        border-radius: 4px;
    }
    #altura{
        width: 200px;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ffffff;
        border-radius: 4px;
    }
    #resultado{
        margin-top: 20px;
        font-size: 18px;
        color: #000000;
    }
